<a href="https://colab.research.google.com/github/SandraBotica/deep-learning-challenge/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd 
import tensorflow as tf
import matplotlib.pyplot as plt

#  Import and read the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])

In [3]:
application_df.columns

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [4]:
# application_df.plot

In [ ]:
# Determine the number of unique values in each column.
pd.Series({col:application_df[col].nunique() for col in application_df})

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = list(application_counts[application_counts < 528].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classifications_greater_1 = application_df['CLASSIFICATION'].value_counts(ascending=False).loc[lambda x : x>1]
classifications_greater_1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = list(classification_counts[classification_counts < 1883].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Generate our categorical variable lists
categorical_list = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
categorical_list

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [12]:
# Check the number of unique values in each column
application_df[categorical_list].nunique()

APPLICATION_TYPE          9
AFFILIATION               6
CLASSIFICATION            6
USE_CASE                  5
ORGANIZATION              4
INCOME_AMT                9
SPECIAL_CONSIDERATIONS    2
dtype: int64

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
categorical_encoded = pd.get_dummies(application_df[categorical_list])
categorical_encoded.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,1,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [14]:
# Concatenate the `categorical_data` encoded dummies with the DataFrame
application_df = pd.concat([application_df, categorical_encoded], axis=1)

# Display the combined DataFrame.
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1,...,0,0,0,0,0,0,0,0,1,0
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1,...,1,0,0,0,0,0,0,0,1,0
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0,...,0,0,0,0,0,0,0,0,1,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1,...,0,1,0,0,0,0,0,0,1,0
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1,...,0,0,1,0,0,0,0,0,1,0

In [19]:
# Dropping categorical columns
application_df = application_df.drop(columns = ['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS'], axis=1)

application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [20]:
# Split our preprocessed data into our features and target arrays
y= application_df['IS_SUCCESSFUL']
X= application_df.drop(columns=['IS_SUCCESSFUL'])

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [21]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [25]:
X_train_scaled[:2]

array([[ 0.01079982, -0.02957055, -0.08940766, -0.12358845, -0.17846338,
         0.52028597, -0.21848437, -0.18930918, -0.19399646, -0.14518018,
        -0.15039866,  1.08034442, -0.04278355, -1.07318949, -0.03118975,
        -0.00881785, -0.02068331, -1.00506648,  2.46274075, -0.46615531,
        -0.24117497, -0.24342285, -0.26693271, -0.1058455 , -0.06612829,
        -0.01079982,  0.47226103, -0.44744306,  1.52769491, -0.11947101,
        -0.03637956, -1.47346684,  0.63741496, -0.15066874, -0.12439654,
        -0.33179062, -0.08204493, -0.1676198 , -0.34899883, -0.06401969,
        -0.07529085,  0.02925687, -0.02925687],
       [ 0.01079982, -0.02957055, -0.08940766, -0.12358845, -0.17846338,
        -1.92201992, -0.21848437, -0.18930918,  5.15473331, -0.14518018,
        -0.15039866, -0.92563074, -0.04278355,  0.9318019 , -0.03118975,
        -0.00881785, -0.02068331, -1.00506648, -0.40605167,  2.14520777,
        -0.24117497, -0.24342285, -0.26693271, -0.1058455 , -0.06612829,
        -0.01079982, -2.11747306,  2.23492125, -0.65458096, -0.11947101,
        -0.03637956,  0.67867153,  0.63741496, -0.15066874, -0.12439654,
        -0.33179062, -0.08204493, -0.1676198 , -0.34899883, -0.06401969,
        -0.07529085,  0.02925687, -0.02925687]])

In [26]:
X_test_scaled[:2]

array([[ 0.01079982, -0.02957055, -0.08940766, -0.12358845, -0.17846338,
         0.52028597, -0.21848437, -0.18930918, -0.19399646, -0.14518018,
        -0.15039866, -0.92563074, -0.04278355,  0.9318019 , -0.03118975,
        -0.00881785, -0.02068331,  0.99495906, -0.40605167, -0.46615531,
        -0.24117497, -0.24342285, -0.26693271, -0.1058455 , -0.06612829,
        -0.01079982,  0.47226103, -0.44744306, -0.65458096, -0.11947101,
        -0.03637956,  0.67867153,  0.63741496, -0.15066874, -0.12439654,
        -0.33179062, -0.08204493, -0.1676198 , -0.34899883, -0.06401969,
        -0.07529085,  0.02925687, -0.02925687],
       [ 0.01079982, -0.02957055, -0.08940766, -0.12358845, -0.17846338,
         0.52028597, -0.21848437, -0.18930918, -0.19399646, -0.14518018,
        -0.15039866,  1.08034442, -0.04278355, -1.07318949, -0.03118975,
        -0.00881785, -0.02068331, -1.00506648, -0.40605167, -0.46615531,
         4.14636734, -0.24342285, -0.26693271, -0.1058455 , -0.06612829,
        -0.01079982,  0.47226103, -0.44744306, -0.65458096, -0.11947101,
        -0.03637956,  0.67867153,  0.63741496, -0.15066874, -0.12439654,
        -0.33179062, -0.08204493, -0.1676198 , -0.34899883, -0.06401969,
        -0.07529085,  0.02925687, -0.02925687]])

## Compile, Train and Evaluate the Model

In [44]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
# Add our first Dense layer, including the input layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
# nn.add(tf.keras.layers.Dropout(rate=0.1, seed=2))
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
# Add the output layer that uses a probability activation function
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 80)                3520

 dense_13 (Dense)            (None, 30)                2430

 dense_14 (Dense)            (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [45]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [46]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.5699 - accuracy: 0.7206
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5551 - accuracy: 0.7290
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5528 - accuracy: 0.7299
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5508 - accuracy: 0.7303
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5492 - accuracy: 0.7317
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5494 - accuracy: 0.7309
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5480 - accuracy: 0.7329
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5467 - accuracy: 0.7331
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5468 - accuracy: 0.7336
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7338
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7341
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7346
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7347
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7342
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7345
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7348
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7343
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7359
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7360
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7358
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7352
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7362
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7358
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7363
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7365
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7365
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7358
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5402 - accuracy: 0.7377
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7372
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7367
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5405 - accuracy: 0.7375
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5402 - accuracy: 0.7359
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7377
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7379
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7377
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7373
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7379
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7381
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7380
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7369
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7388
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7369
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7378
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7382
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7386
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7384
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7383
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7383
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7387
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7386
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7381
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7379
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7370
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7376
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7374
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7390
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7383
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7399
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7379
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7387
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7383
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7394
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7388
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7387
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7385
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7386
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7390
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7388
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7388
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7393
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7401
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7393
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7397
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7403
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7390
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7398
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7396
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7390
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7396
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7390
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7392
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7393
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7384
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7395
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7386
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7394
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7399
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7398
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7389
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7395
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7404
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7404
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7394
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7394
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7405
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7401
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7404
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7391
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7406
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7392

In [47]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5568 - accuracy: 0.7300 - 298ms/epoch - 1ms/step
Loss: 0.5567541718482971, Accuracy: 0.7300291657447815

In [ ]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE